<div class="container mt-5" *ngIf="stocks">
  <div class="row"></div>
  <table mdbTable bordered="true">
    <thead>
      <tr>
        <th [mdbTableSort]="elements" sortBy="symbol">
          <i class="fas fa-sort"></i> Symbol
        </th>
        <th [mdbTableSort]="elements" sortBy="price">
          <i class="fas fa-sort"></i> Price
        </th>
        <th>
          Trend
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let el of stocks | keyvalue; let i = index"
        [routerLink]="['/detail/' + el.value.symbol]"
      >
        <td>{{ el.value.symbol }}</td>
        <td>{{ el.value.price | currency }}</td>
        <td>
          <mdb-icon
            class="text-success"
            fas
            icon="angle-double-up"
            mdbTooltip="+ {{ el.value.difference | currency }}"
            placement="top"
            *ngIf="el.value.difference > 0"
          ></mdb-icon>

          <mdb-icon
            class="text-danger"
            mdbTooltip="{{ el.value.difference | currency }}"
            placement="top"
            fas
            icon="angle-double-down"
            *ngIf="el.value.difference < 0"
          ></mdb-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
